judiciary-case-management

Common
1. login
2. sign up
3. logout
4. case Status checking
5. view all advocates with less than 3 active cases
6. Global search to find the case
7. roles(advocate, judicial officer, judge, admin) based access

Victims
1. Raise a case along with proper details(including files)
2. Withdraw case
3. Hire an advocate
4. should see his/her case details only. need otp validation to view data

Accused
1. Uploading his/her side of details(including files)
2. Hire an advocate
3. should see his/her case details only. need otp validation to view data


Advocate
1. Allowed to handle 3 Active cases at a time
2. Request for prepone or postpone the hearing time with proper details
3. view all active assigned cases


Judicial officials
1. Verify the cases details(Accept/reject)
2. updating the case progress
3. Scheduling of court hearings.
4. Verify the prepone or postpone request(Accept/reject)

Judge
1. Make judgement & close case

Admin
1. Assign, change or remove the role

